.header-container {
  background: map-get($green, '100');
  max-width: 100%;
  margin: 0 auto;
  padding: 16px 40px 16px 40px;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 48px;
}

.header-left-content,
.header-right-content {
  display: flex;
  align-items: center;
  gap: 32px;
}

.desktop-only {
  display: flex;
}

.mobile-only {
  display: none;
}

.mobile-dropdown {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  padding: 12px;
}

/* Mobile */
@media (max-width: 768px) {
  .header-content {
    padding: 27px 24px;
  }

  .desktop-only {
    display: none;
  }

  .mobile-only {
    display: flex;
  }

  .header-left-content {
    gap: 16px;
  }

  .menu-dropdown {
    padding: 14px !important;
  }

  .user-dropdown-menu {
    margin-top: 35%;
  }
}
