.module-indicator {
  display: flex;
  align-items: center;
  gap: 15px;

  span {
    font-weight: $font-bold;
    color: map-get($green-light, '400');
  }
}

.module-indicator-icon {
  height: 32px;
  width: 32px;
}
