@use 'sass:map';
@use '../typography' as fonts;
@use '../variables' as variables;

.module-indicator {
  display: flex;
  align-items: center;
  gap: 15px;

  span {
    font-weight: fonts.$font-bold;
    color: map.get(variables.$green-light, '400');
  }
}

.module-indicator-icon {
  height: 32px;
  width: 32px;
}
