.user-dropdown-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.user-avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.profile-user {
  color: $white;
  display: flex;
  align-items: center;
  gap: 8px;
}

.user-dropdown-menu {
  padding: 24px;
  border: none;
  box-shadow: 4px 4px 20px 0px #3b3b3b;
}

.user-dropdown-item {
  display: flex;
  align-items: center;
  gap: 16px;

  &:is(:focus, :hover, .active) {
    background-color: map-get($green-light, '100');
    color: map-get($green-light, '600');
    border-radius: 8px;
  }

  &:last-child {
    margin-top: 16px;
  }
}
