@use 'variables' as variables;
@use 'typography' as fonts;
@use './components/header.scss';
@use 'components/menu.scss';
@use 'components/module-indicator.scss';
@use 'components/user-dropdown.scss';
@use 'components/more-options-icon.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: variables.$off-white;
  -webkit-font-smoothing: antialiased;

  font-family: fonts.$font-primary;
  font-weight: 400;
}

// REM = 1rem = font-size
// Default font-size: 16px for Desktops
html {
  span {
    @media (max-width: 768px) {
      font-size: 87.5%; // 14px
    }
  }
}
