@import 'variables';
@import 'typography';
@import './components/header.scss';
@import 'components/menu.scss';
@import 'components/module-indicator.scss';
@import 'components/user-dropdown.scss';
@import 'components/more-options-icon.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $off-white;
  -webkit-font-smoothing: antialiased;

  font-family: $font-primary;
  font-weight: 400;
}
